/* https://coolors.co/1f3838-bcd2ee-9b7ede-52050a-76e7cd */
:root {
  --bg-primary: rgb(31, 56, 56);
  --bg-secondary: #52050a;
}

html {
  background-color: var(--bg-primary);
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: max(calc(100vw / 8), 2rem);
  margin-top: 5rem;
  margin-bottom: 0;
}

.top-text {
  text-align: center;
}

.sub-text {
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
  translate: -4vw -3vw;
  rotate: -30deg;
  font-size: max(calc(100vw / 15), 1rem);
  background-color: var(--bg-secondary);
  padding-inline: 0.8rem;
  border-radius: 1rem;
}
